node_modules/
dist/

### yarn ###
## https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored

.yarn/*
.yarn/install-state.gz
.yarn/unplugged
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!yarn.lock
!.yarnrc.yml

## Yarn Integrity file
.yarn-integrity

